body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vacancy-container {
    margin-top: 20px;
}

.vacancy-card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Добавляем рамку */
}
.vacancy-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.vacancy-card p {
    margin: 0;
    line-height: 1.5;
}
